<div class="landing_container">
  <center>
    <%= image_tag "gear_up_long_logo_landing.png", height: 250 %>
    <div class="area_container search_container">
      <h5>Planning outdoor group adventures can be complicated. Gear UP gives you a platform to organize trips, gear, and who is responsible for bringing what.</h5>
      <br><br>
      Check us out on Github!
      <p><a href="https://github.com/ShermanA-13/gear-up-be">Back End</a> | <a href="https://github.com/ShermanA-13/gear-up-fe">Front End</a>
    </div>
  </center>
</div
