@import "/*";
@import "bootstrap";
@import "tether";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  background-image: url(/assets/brook-anderson-gTQbZXL417Q-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
}
// .card {
//   background-color: blue;
// }

h1, h2, h3, h4, h5, h6, p{
  font-family: helvetica;
  text-align: center;
}
.user_items_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.item_container {
   background-color: #5c4a14;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 30px;
   padding-right: 30px;
   border-radius: 10px;
   margin-bottom: 10px;
   width: 80%;
 }
.item_container a,
.item_container h3 {
   color: black;
   font-size: 30px;
 }

.user_trips_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip_container {
  background-color: #1d7442;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 90%;
}
.trip_container a,
.trip_container h3 {
   color: black;
   font-size: 30px;
 }

 .user_info{
   text-align: center;
 }
